# 1. Ignore All
*

# 2. Don't Ignore Subfolder(must or Git can't get subfolders for white list)
!*$/
!**/

# 3. White List by suffix
!**/*.nf
!**/*.py
!**/*.config
!**/*.sh
!**/samp*.csv
!**/*.lst
!**/*.ts
!**/*.js
!**/*.toml
!**/*.yml
!**/*.json
!**/*.lock
!**/.env*
!**/Dockerfile
!**/.gitignore
!**/*.md
!.aiguard_patches
!**/*meta*tsv
!**/*meta*csv
**/.git/
**/*egg-info/

# 4. overrise white list for particular cache folders
*.log
.nextflow.log*
_site/
.sass-cache/
node_modules/
.nextflow/
__pycache__/
.venv/
venv/
dist/
build/
.pixi/
.pixi-cache/
.mamba-root/
.micromamba-pybedtools/
.hf_home/
.ruff_cache/
.pytest_cache/
.uv-cache/
.codex/
.agents/
